.container {
    width: 100%;
    height: 100%;
    background-color: hsl(217, 100%, 97%);
    display: flex;
    justify-content: center;
    align-items: center;

    .box {
        height: 90%;
        max-width: 1440px;
        padding: 1rem;
        background-color: hsl(0, 0%, 100%);
        border-radius: 15px;
        box-shadow: 0 5px 10px hsl(229, 24%, 87%);
        display: flex;
        justify-content: center;
        align-items: center;
        
        .main_container {
            height: 100%;
            padding-inline: 5rem;
            padding-block: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}